click
flake8
Flask
Flask-Cors
future
ipykernel
ipython
ipython-genutils
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
lightgbm
matplotlib
notebook
numpy
packaging
pandas
pandocfilters
pickleshare
pyarrow
pybaseball
requests
scikit-learn
scipy
statsmodels
csv_to_sqlite


